@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff7f0;
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 16px;
}

h1 {
  font-size: 36px;
}
h2 {
  font-size: 26px;
}

p {
  color: #7a746e;
  line-height: 26px;
  font-weight: 500;
}

.consultationBar {
  width: 343px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.consultationBar img {
  width: 48px;
  height: 48px;
}

.blackBtn {
  width: 176px;
  height: 44px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 28px;
  font-weight: bold;
  font-size: 14px;
}

.consultationBar button:hover {
  background-color: #755cde;
}

#hero {
  min-width: 343px;
  height: 210px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  text-align: center;
}

#hero p {
  min-width: 285px;
}

#services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 16px;
  gap: 24px;
}

#services div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
}

#services img {
  align-self: flex-end;
  margin: 24px;
}

#services div p {
  color: white;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 24px;
  margin-left: 24px;
}

.graphicDesign {
  width: 343px;
  height: 364px;
  background-color: #755cde;
}

.graphicDesign img {
  width: 128px;
  height: 192px;
}

.sameLineService {
  display: flex;
  gap: 25px;
}
.userInterface {
  width: 159px;
  height: 182px;
  background-color: #f6a560;
}

.userInterface img,
.apps img {
  width: 64px;
}

.apps {
  width: 159px;
  height: 182px;
  background-color: #f39e9e;
}

.photography,
.motionGraphics {
  width: 343px;
  height: 182px;
  background-color: #61c4b7;
}

.photography img {
  width: 160px;
  height: 64px;
}

.illustrations {
  width: 343px;
  height: 158px;
  background-color: #eb7565;
}

.illustrations img,
.motionGraphics img {
  width: 128px;
  height: 64px;
}

.motionGraphics {
  background-color: #552049;
}

#about {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about img {
  width: 300px;
}

.rightContent {
  text-align: center;
  margin-top: 40px;
  width: 343px;
  height: 262px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.pinkBtn {
  width: 176px;
  height: 44px;
  background-color: #eb7565;
  color: white;
  border: none;
  border-radius: 28px;
  font-weight: bold;
  font-size: 14px;
}

.pinkBtn:hover {
  background-color: #f6a560;
}

#work h3 {
  font-size: 24px;
}

#work {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolioSlideshow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 32px 0px;
  list-style-type: none;
}

.slide img {
  width: 270px;
  height: 180px;
}

.arrows {
  display: flex;
  gap: 16px;
}

.arrow {
  width: 64px;
  height: 64px;
  background-color: black;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow:hover {
  background-color: #755cde;
}

#contact {
  width: 343px;
  height: 352px;
  margin: 100px 0px 40px 0px;

  background-color: black;
  color: white;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.leftContent
{
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 295px;
}

#contact h4 {
  font-size: 26px;
}

#contact p {
  color: white;
}



@media (min-width: 768px) {
  h1 {
    font-size: 44px;
  }

  p {
    font-size: 18px;
    line-height: 28px;
  }

  .consultationBar {
    width: 689px;
  }

  .consultationBar img {
    width: 64px;
    height: 64px;
  }

  .blackBtn {
    width: 228px;
    height: 56px;
    font-size: 16px;
  }

  #hero {
    width: 690px;
    height: 138px;
    justify-content: space-between;
    margin-bottom: 64px;
  }

  #hero p {
    width: 573px;
  }

  #services {
    width: 690px;
    height: 570px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    gap: 24;
  }

  .graphicDesign {
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .sameLineService {
    gap: 23px;
  }

  #about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 762px;
    height: 370px;
    gap: 59px;
    margin-left: -44px;
    margin-top: 120px;
    margin-right: 40px;
  }

  #about img {
    width: 364px;
  }

  h2 {
    font-size: 32px;
  }

  .rightContent {
    text-align: left;
    width: 339px;
    height: 364px;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 0;
  }

  .pinkBtn {
    width: 228px;
    height: 56px;
    font-size: 16px;
  }

  #work {
    margin-top: 120px;
  }

  #work h3 {
    font-size: 32px;
  }

  .portfolioSlideshow {
    margin: 56px 0px;
  }

  .slide img {
    width: 540px;
    height: 360px;
  }

  #contact {
    margin-top: 120px;
    margin-bottom: 56px;
    width: 690px;
    display: flex;
    justify-content: space-evenly;
  }

.leftContent
{
width: 540px;
}

  #contact h4 {
    font-size: 32px;
  }


}

@media (min-width: 1440px) {
  h1 {
    font-size: 56px;
  }
  .consultationBar {
    width: 1111px;
    margin-bottom: 66px;
  }

  #hero {
    width: 752px;
    height: 150px;
    margin-bottom: 80px;
  }

  #hero p {
    width: 730px;
  }

  #services {
    width: 1110px;
    height: 364px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    margin: 0;
    gap: 0px;
  }

  .graphicDesign, .photography, .motionGraphics, .illustrations {
    width: 354px;
  }

.photography
{
  grid-column-start: 3;
  grid-row-start: 1;
}

.motionGraphics
{
  height: 158px;
}

  .userInterface, .apps
  {
    width: 164px;
  }

  .sameLineService, .photography
  {
    margin-bottom: 24px;
  }

  #about
  {
    width: 1110px;
    height: 445px;
    margin-top: 136px;
    gap: 125px;
  }

  #about img{
    width: 445px;
  }

  .rightContent
  {
    width: 540px;
    height: 306px;
  }

  h2
  {
    font-size: 40px;
  }

  #work
  {
    margin-top: 88px;
    width: 2820px;
    height: 575px;
  }

  #contact
  {
    margin-top: 88px;
    width: 1110px;
    height: 320px;
    display: flex;
    flex-direction: row;
  }

.leftContent
{
  height: 159px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

  h4
  {
    font-size: 40px;
  }
  
}
