@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff7f0;
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 16px;
}

h1 {
  font-size: 36px;
}

p {
  color: #7a746e;
}

.consultationBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.consultationBar img {
  width: 48px;
  height: 48px;
}

.blackBtn {
  width: 176px;
  height: 44px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 28px;
}

.consultationBar button:hover {
  background-color: #755cde;
}

#hero {
  min-width: 343px;
  min-height: 210px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center;
}

#services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 16px;
  gap: 24px;
}

#services div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
}

#services img {
  align-self: flex-end;
  margin: 24px;
}

#services div p {
  color: white;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 24px;
  margin-left: 24px;
}

.graphicDesign {
  width: 343px;
  height: 364px;
  background-color: #755cde;
}

.graphicDesign img {
  width: 128px;
  height: 192px;
}

.sameLineService {
  display: flex;
  gap: 25px;
}
.userInterface {
  width: 159px;
  height: 182px;
  background-color: #f6a560;
}

.userInterface img,
.apps img {
  width: 64px;
}

.apps {
  width: 159px;
  height: 182px;
  background-color: #f39e9e;
}

.photography,
.motionGraphics {
  width: 343px;
  height: 182px;
  background-color: #61c4b7;
}

.photography img {
  width: 160px;
  height: 64px;
}

.illustrations {
  width: 343px;
  height: 158px;
  background-color: #eb7565;
}

.illustrations img,
.motionGraphics img {
  width: 128px;
  height: 64px;
}

.motionGraphics {
  background-color: #552049;
}

#about {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about img {
  width: 300px;
}

.rightContent {
  text-align: center;
  margin-top: 40px;
  width: 343px;
  height: 262px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.pinkBtn {
  width: 176px;
  height: 44px;
  background-color: #eb7565;
  color: white;
  border: none;
  border-radius: 28px;
  font-weight: bold;
}

.pinkBtn:hover {
  background-color: #f6a560;
}

#work h3
{
  margin-top: 100px;
  font-size: 24px;
}

#work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.arrows
{
  display: flex;
  gap: 16px;
}

.arrow
{
  width: 64px;
  height: 64px;
  background-color: black;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contact
{
  width: 343px;
  height: 352px;
  margin: 100px 0px 40px 0px;

  background-color: black;
  color: white;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

#contact h4
{
  font-size: 26px;
}

#contact p
{
  color: white;
  font-weight: 500px;
  margin: 24px;
  line-height: 26px;
}